<body>
    <form action="/submit-form" method="post">
        <div class="field">
        <label for="first_name">First Name</label>
        <input type="text"  name="first_name" placeholder="First Name">
        </div>
        <div class="field">
         <label for="first_name">Last Name</label>
        <input type="text" name="last_name" placeholder="Last Name">
        </div>
        <div class="field">
        <label for="first_name">Email</label>
        <input type="email" name="email" placeholder="Email - ID">
        </div>
        <div class="field">
         <label for="first_name">Password</label>
        <input type="password" name="password" placeholder="Password">
        </div>
        <div class="field">
         <label for="first_name">Confirm Password</label>
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        </div>
        <div class="field">
        <input type="submit" value="Submit">
        </div>
    </form>
</body>
